<header>
    <div class="header-container">
        <div class="header-left">
            <img src="assets/images/Logo.png" alt="Logo">
            <nav class="nav-links">
                <a routerLink="/home">Accueil</a>
                <a routerLink="/formation">Formations</a>
                <a routerLink="/trouver_artisan">Trouver un Artisan</a>
                <a routerLink="/boutique_artisan">Gérer ma boutique</a>
                <a routerLink="/dashboard">Dashboard</a>
            </nav>
        </div>
        <div class="auth-buttons">
            <a routerLink="/profile_artisan">Voir Profil</a>
            <a routerLink="/">Déconnexion</a>
        </div>
    </div>
</header>