<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Nos Services - Kôrôba</title>
</head>
<body>

    <app-header-index></app-header-index>

<section class="services-section">
    <h1>Nos Services</h1>
    <p>Découvrez nos différents services offerts par <br>
        nos artisans qualifiés. Nous vous offrons des solutions  <br>
        pratiques pour répondre à vos besoins.</p>
    
    <div class="service service1" style="background-image: url('assets/images/couture.jpg');">
    <h2>Couture</h2>
    <p>Transformez vos idées en vêtements uniques avec nos couturiers experts <br>
        . Que ce soit pour des tenues sur mesure, des retouches ou des créations personnalisées, <br>
        nos artisans de la couture vous garantissent un travail de qualité avec une touche d'élégance.</p>
</div>

<div class="service service2" style="background-image: url('assets/images/menuserie.jpg');">
    <h2>Artisanat d’art et de décoration</h2>
    <p>Ajoutez une touche d'originalité  <br>
        à votre espace avec des œuvres d'art <br>
        et des décorations uniques. Nos artisans spécialisés  <br>
        en artisanat d’art vous offrent des créations personnalisées, <br>
        allant des sculptures aux objets décoratifs, pour embellir votre intérieur.</p>
</div>

<div class="service service3" style="background-image: url('assets/images/poterie.jpg');">
    <h2>Mécanique</h2>
    <p>Faites réparer ou entretenir vos véhicules par nos mécaniciens qualifiés.
         Nous nous occupons de tout, de la réparation des moteurs aux contrôles de routine, 
         en passant par le remplacement de pièces, avec un service rapide et efficace.</p>
</div>

<div class="service service4" style="background-image: url('assets/images/tutoriel.jpg');">
    <h2>Agroalimentaire, alimentation, restauration</h2>
    <p>Des plats délicieux préparés avec soin et des produits <br>
         agroalimentaires de qualité. Nos artisans dans le domaine de <br>
         l'agroalimentaire et de la restauration vous offrent des produits frais <br>
          et des repas savoureux pour toutes vos occasions.</p>
</div>

<div class="service service5" style="background-image: url('assets/images/macon.jpg');">
    <h2>Maçonnerie</h2>
    <p>Construisez ou rénovez avec confiance  <br>
        grâce à nos maçons expérimentés. Que ce soit pour des projets <br>
         résidentiels ou commerciaux, nous assurons des travaux de  <br>
         maçonnerie solides et durables, adaptés à vos besoins spécifiques.</p>
</div>

<div class="service service6" style="background-image: url('assets/images/sotra.jpg');">
    <h2>Transport</h2>
    <p>Déplacez vos biens en toute sécurité avec nos services <br>
         de transport professionnels. Nos chauffeurs expérimentés  <br>
         garantissent une livraison ponctuelle et une gestion efficace <br>
          de vos marchandises, que ce soit pour des trajets locaux ou internationaux.</p>
</div>

<div class="service service7" style="background-image: url('assets/images/menuserie.jpg');">
    <h2>Menuiserie/Charpenterie</h2>
    <p>Donnez vie à vos projets en bois avec nos menuisiers <br>
        et charpentiers qualifiés. De la conception de meubles sur mesure  <br>
        à la construction de structures en bois, nos artisans <br>
        fournissent des travaux de haute qualité avec un souci du détail <br>
        impeccable.</p>
</div>

<div class="service service8" style="background-image: url('assets/images/coiffure.jpg');">
    <h2>Coiffure</h2>
    <p>Exprimez votre style personnel avec l'aide de nos coiffeurs professionnels. <br>
         Que ce soit pour une coupe tendance, une coiffure élégante <br>
          ou des soins capillaires, nos experts vous offriront une expérience <br>
           de coiffure inégalée.</p>
</div>

<div class="service service9" style="background-image: url('assets/images/orange.jpg');">
    <h2>Vente de marchandises</h2>
    <p>Découvrez une variété de produits de qualité <br>
        avec nos services de vente de marchandises. <br>
        Que vous cherchiez des articles du quotidien ou des produits spécialisés, <br>
        nos commerçants vous offriront un excellent rapport qualité-prix.</p>
</div>

<div class="service service10" style="background-image: url('assets/images/electronique.jpg');">
    <h2>Électronique (réparateur TV, portable, etc.)</h2>
    <p>Confiez vos appareils électroniques à nos experts <br>
        pour une réparation rapide et fiable. <br>
        De la réparation de téléviseurs et de téléphones portables <br>
         à la maintenance d'autres équipements électroniques, <br>
         nous nous occupons de tout avec professionnalisme.</p>
</div>

<div class="service service11" style="background-image: url('assets/images/tapisserie.jpg');">
    <h2>Tapisserie</h2>
    <p>Revigorez vos meubles et vos intérieurs avec nos services de tapisserie. Nos artisans spécialisés réparent et relookent vos sièges, rideaux et autres éléments textiles avec un savoir-faire exceptionnel pour un rendu esthétique et durable.</p>
</div>

<div class="service service12" style="background-image: url('assets/images/audiovisuel.jpg');">
    <h2>Audiovisuel et communication</h2>
    <p>Optimisez votre communication visuelle avec nos experts en audiovisuel. Nous proposons des services de production vidéo, de montage et de gestion de la communication pour vous aider à transmettre efficacement vos messages.</p>
</div>

<div class="service service13" style="background-image: url('assets/images/boucherie.jpg');">
    <h2>Boucherie</h2>
    <p>Profitez de viandes fraîches et de qualité avec nos bouchers professionnels. Nous offrons une sélection variée de produits carnés, préparés selon des normes rigoureuses pour garantir un goût délicieux et une sécurité alimentaire optimale.</p>
</div>

<div class="service service14" style="background-image: url('assets/images/bijoux.jpg');">
    <h2>Bijouterie</h2>
    <p>Émerveillez-vous avec des bijoux exquis créés par nos bijoutiers. <br>
        Que vous cherchiez des pièces personnalisées ou des bijoux élégants <br>
        pour des occasions spéciales, nous vous offrons des créations <br>
        uniques et de haute qualité.</p>
</div>

<div class="service service15" style="background-image: url('assets/images/hygiene.jpg');">
    <h2>Hygiène et soins corporels</h2>
    <p>Chouchoutez-vous avec nos services de soins corporels et d'hygiène. <br>
        Nos professionnels vous proposent des traitements personnalisés pour <br>
         vous offrir une peau éclatante et un bien-être optimal, <br>
          dans un cadre agréable et professionnel.</p>
</div>




<div class="service service18" style="background-image: url('assets/images/vitrier.jpg');">
    <h2>Vitrerie</h2>
    <p>Embellissez vos espaces avec des solutions en vitrerie sur mesure. <br>
        Nos artisans se chargent de l'installation, de la réparation  <br>
        et de la découpe de vitrages pour répondre à tous vos besoins <br>
        en matière de fenêtres et de décorations en verre.</p>
</div>

    

</section>

<footer>
    <img src="../images/logo.png" alt="Logo" style="height: 50px;">
    <p class="copyright">&copy; 2024 Kôrôba. Tous droits réservés.</p>
    <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
</footer>

</body>
</html>
