body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 2rem;
}



.main {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.card {
    background: red;
    color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #009640;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #312783;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #050505;
}

.icon {
    font-size: 50px;
    margin: 20px 0;
}

/* Footer */
footer {
    background-color: #009640;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

footer img {
    height: 50px;
}

footer .social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #E30613;
}

footer .copyright {
    font-size: 0.875rem;
}