<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Kôrôba - Actualités</title>
    
</head>
<body>
<header>
    <img src="assets/images/Logo.png" alt="Logo">
    <nav class="nav-links">
        <a href="index.html">Accueil</a>
        <a href="services.html">Services</a>
        <a href="contact.html">Contact</a>
        <a href="apropos.html">À propos</a>
        <a href="trouver-artisan.html">Trouver un Artisan</a>
        <a href="inscription-artisan.html">Devenir Artisan</a>
    </nav>
    <div class="auth-buttons">
        <a href="connexion-client.html">Connexion</a>
        <a href="inscription-client.html">Inscription</a>
    </div>
</header>


<section class="tout-savoir">
    <h2 class="en-tete">Tous nos <span>actualités</span></h2>
    <div class="box-container">
        <div class="actu">
            <img src="assets/images/WhatsAppImage2024-06-2722.07.46_431cd496.jpg" alt="Actualité">
            <div class="flex">
                <a href="actualite.html" class="desc_article">Un peu de description Lorem ipsum dolor sit.</a>
                <div class="date">
                    <p><i class="fa-regular fa-eye"></i> 03</p>
                    <p>13/07/2024 à 09:08</p>
                </div>    
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer> 

</body>
</html>
