<header>
    <img src="assets/images/Logo.png" alt="Logo">
    <nav class="nav-links">
        <a routerLink="/">Accueil</a>
        <a routerLink="/services">Services</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/about">À propos</a>
        <a routerLink="/trouver_artisan">Trouver un Artisan</a> 
        <a routerLink="artisan_form">Devenir Artisan</a>
    </nav>
    <div class="auth-buttons">
        <a routerLink="/connexion_client">Connexion</a>
        <a routerLink="/client_form">Inscription</a>
    </div>
</header>