<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    
    <title>Formations - Kôrôba</title>
</head>
<body>
    <app-header></app-header>


<section class="formations">
<h2 class="en-tete">Arti<span>Skills</span></h2>
    <p>Découvrez nos formations sur les lois, règlements, alphabétisations et tutoriels pour vous aider dans votre métier.</p>
    <div class="box-container">
        <div class="formation">
            <img src="assets/images/lois.jpg" alt="Formation 1">
            <div class="flex">
                <div class="title">Formation sur les lois et règlements</div>
                <div class="description">Apprenez les règles essentielles pour exercer votre métier en toute conformité.</div>
                <div class="date">Prochainement</div>
            </div>
        </div>
        <div class="formation">
            <img src="assets/images/alphabetisation.jpg" alt="Formation 2">
            <div class="flex">
                <div class="title">Formation en alphabétisation</div>
                <div class="description">Améliorez vos compétences de lecture et d'écriture pour une meilleure communication avec vos clients.</div>
                <div class="date">Prochainement</div>
            </div>
        </div>
        <div class="formation">
            <img src="assets/images/tutoriel.jpg" alt="Formation 3">
            <div class="flex">
                <div class="title">Tutoriels pratiques</div>
                <div class="description">Explorez des tutoriels pratiques pour perfectionner vos techniques et services.</div>
                <div class="date">Prochainement</div>
            </div>
        </div>
    </div>
</section>

<footer>
    <img src="assets/images/logo.png" alt="Logo" style="height: 50px;">
    <p class="copyright">&copy; 2024 Kôrôba. Tous droits réservés.</p>
    <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
</footer>

</body>
</html>
