* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profil {
    max-width: 800px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
}

.titre {
    font-size: 2rem;
    color: #FF914D;
    margin-bottom: 20px;
}

.photo-profil {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.photo-profil img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.photo-profil input[type="file"] {
    display: none;
}

.photo-profil label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FF914D;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.photo-profil label:hover {
    background-color: #007530;
}

.details {
    text-align: left;
    margin-bottom: 20px;
}

.details p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.details span {
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modifier {
    background-color: #1F60B7;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.modifier:hover {
    background-color: #b3040f;
}