<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Mon propre CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Kôrôba - Profil Client</title>
    
</head>
<body>
    <section class="profil">
        <h2 class="titre">Profil Artisan</h2>
        <div class="photo-profil">
            <img src="assets/images/a-min.jpg" alt="Photo de Profil">
            <input type="file" id="photo-profil" name="photo-profil" accept=".jpg,.jpeg,.png">
            <label for="photo-profil"><i class="fas fa-camera"></i></label>
        </div>
        <div class="details">
            <p>Nom: <span>Goulizan</span></p>
            <p>Prénom: <span>Racine</span></p>
        </div>
        <div class="btn">
            <button class="modifier">Modifier le Profil</button>
        </div>
    </section>
</body>
</html>
